.taskItem-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 15px 15px;
  border: 1px solid #333;
  border-radius: 10px;
  margin-bottom: 15px;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.delete {
  color: red;
  cursor: pointer;
}
